<!DOCTYPE html> 
<html>
    <head>
        <link rel="stylesheet" href="style.css"> <!-- set relation -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- Fontawesome -->
        <title>PAI</title> <!-- TODO: TBA -->
    </head>

    <body>
        <div class="grid-container">
            <!-- Header -->
            <header class="row">
                <div>
                    <a class="brand" href="index.html">PAI</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign in</a>                
                </div>
            </header>
            <!-- Main -->
            <main>                     
                <!--Put product images next to each other--> 
                <div class="row center"> 
                    
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px
                            -->
                            <!-- TODO: Change product paths -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                          <a href="product.html">
                              <h2>Slim Shirt</h2>
                          </a> 
                          <div class="rating">
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                          </div> 
                          <div class="price">
                            119 zł
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px
                            -->
                            <!-- TODO: Change product paths -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                          <a href="product.html">
                              <h2>Slim Shirt</h2>
                          </a> 
                          <div class="rating">
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                          </div> 
                          <div class="price">
                            119 zł
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px
                            -->
                            <!-- TODO: Change product paths -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                          <a href="product.html">
                              <h2>Slim Shirt</h2>
                          </a> 
                          <div class="rating">
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                          </div> 
                          <div class="price">
                            119 zł
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px
                            -->
                            <!-- TODO: Change product paths -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                          <a href="product.html">
                              <h2>Slim Shirt</h2>
                          </a> 
                          <div class="rating">
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                          </div> 
                          <div class="price">
                            119 zł
                          </div>
                        </div>
                    </div>

                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px
                            -->
                            <!-- TODO: Change product paths -->
                            <img class="medium" src="./images/p1.jpg" alt="product"/>
                        </a>
                        <div class="card-body">
                          <a href="product.html">
                              <h2>Slim Shirt</h2>
                          </a> 
                          <div class="rating">
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star"></i></span>
                            <span>
                                <i class="fa fa-star-half-o"></i></span>
                            <span>
                                <i class="fa fa-star-o"></i></span>
                            <span>
                                <i class="fa fa-star-o"></i></span>
                          </div> 
                          <div class="price">
                            119 zł
                          </div>
                        </div>
                    </div>
                    
                </div>>
            </main>
            <!-- Footer -->
            <footer class="row center">
                PAI- MERN Stack Project
            </footer>

        </div>
    </body>
</html>